<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">


</head>

<body>
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="images/banner-1.jpg"alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Elegant Gent Shop</strong></h1>
                        <p class="m-b-40">Enjoy your Outfit! <br> Have you a good, fun working day!</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/banner-2.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br>  Elegant Gent Shop</strong></h1>
                        <p class="m-b-40">Enjoy your Outfit! <br> Have you a good, fun working day!</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/banner-3.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1 class="m-b-20"><strong>Welcome To <br>  Elegant Gent Shop</strong></h1>
                        <p class="m-b-40">Enjoy your Outfit! <br> Have you a good, fun working day!</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"><img class="img-fluid" src="images/gent.png" alt=""/>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">We are <span> Elegant Gent Shop</span></h2>
                <p>At Elegant Gent, we don't just deal in clothes, we deal in confidence.
                    We've spent years refining our taste and understanding what defines exceptional menswear.</p>
                <p>Just like a discerning chef sources the finest ingredients, we partner only with top-tier
                    designers and manufacturers.
                    Our curated collection reflects quality you can feel and style that speaks for itself.</p>
                <p>Explore our collection and discover pieces that will become the cornerstones of your wardrobe.</p>
                <a class="btn hvr-hover" href="#">Read More</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Trusted</h3>
                    <p>Elevate your style. Empower your presence. Elegant Gent Shop. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Professional</h3>
                    <p>Step into our refined shopping haven and discover a world of sartorial excellence,
                        where quality and craftsmanship reign supreme.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Expert</h3>
                    p>Experience personalized styling guidance from our expert team,
                    ensuring you find the perfect pieces to complement your unique style.  </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start Feed  -->
<div th:replace="~{fragments::instagram-box}">
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">

</footer>


<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>